body.stat {
    font-family: Verdana, 'Georgia', sans-serif;
    font-size: 13px;
    margin: 0px auto;
    padding: 0px 20px;
    max-width: 840px;
}

p, h1, h2, h3, h4 {
    margin: 0px;
}

.logo {
    background-image: url("../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 530px;
    height: 55px;
    margin: auto;
    margin-top: 30px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.logo:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}



h1.firstTitle {
    margin: 0px;
    font-size: 24px;
    font-weight: normal;
}

h2.beforeTitle {
    margin: 0px;
    font-size: 13px;
    font-weight: bold;
}

h2.newletter {
    margin: 0px;
    color: #57becb;
    font-family: Georgia, serif;
    font-size: 35px;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.sectionsTitles {
    margin-top: 25px;
    margin-bottom: 8px;
    font-size: 25px;
    font-family: Georgia, serif;
    font-weight: bold;
}

.dotted {
    height: 11px;
    line-height: 0px;
    letter-spacing: -1px;
    text-align: center;
    margin: 15px 0px;
    font-size: 20px;
    font-family: "Geneva";
    color: silver;
    white-space: nowrap; /* indispensable pour utiliser la propriété text-overflow */
    overflow: hidden; /* indispensable pour utiliser la propriété text-overflow */
    text-overflow: "";
}

.leftColumnIcons {
    margin-right: 50px;
}

.leftColumnIcons .divIcons {
    margin-right: 15px;
}

.rightColumnIcons .iconsText .divIcons {
    position: relative;
    left: 6px;
}

.rightColumnIcons .divIcons {
    margin-right: 8px;
}

.leftColumnIcons article, .rightColumnIcons article {
    margin-top: 5px;
    margin-bottom: 5px;
}

.descriptions {
    font-weight: normal;
    font-size: 13px;
    color: #57becb
}

.divIcons {
    width: 45px;
    height: 45px;
}

.triangleBtn {
    width: 12px;
    height: auto;
    margin-right: 5px;
}

.triangleBtn.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.littleIcons {
    width: 25px;
    height: auto;

}

.mediumIcons {
    width: 30px;
    height: auto;
}

.bigIcons {
    width: 45px;
    height: auto;
}

p.dateSent {
    font-weight: bold;
}

.devicesBlocks section {
    margin: 6px 0px;
}

.devicesBlocks {
    margin-top: 10px;
}

.blocks {
    margin: 0px;
    margin-right: 15px;
    border-radius: 10px;
    height: 100px;
    min-width: 245px;
    color: white;
}

.blocks article {
    margin: 3px 18px;
}

.blocks.recipients.color {
    background-color: #6e90a9;
}

.blocks.openingRate.color {
    background-color: #85caa8;
}

.blocks.openingTime.color {
    background-color: #9ac870;
}

.blocks.reactivityRate.color {
    background-color: #a0a4c3;
}

.blocks.clickRate.color {
    background-color: #6caad9;
}

.blocks.bouncesRate.color {
    background-color: #e98c89;
}

.blocks.complaintRate.color {
    background-color: #f19956;
}

.blocks.unsubscribeRate.color {
    background-color: #fdc65d;
}

.blocks.co2.color {
    background-color: #13a094;
}


.bigNumbers {
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.bigLetters {
    font-size: 35px;
    font-weight: normal;
}

.right table {
    text-align: left;
    width: 485px;
    /*flex: auto 1 0; /* flex-grow, flex-shrink et flex-basis  */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table.clickRate.align {
    margin-top: 25px;
}

table.recipients.align .center, table.openingRate.align .center, table.clickRate.align .center {
    width: 75px;
}

table.recipients.align, table.openingRate.align, table.clickRate.align {
    table-layout: fixed;
}

td.url, td.email {
    white-space: nowrap; /* indispensable pour utiliser la propriété text-overflow */
    overflow: hidden; /* indispensable pour utiliser la propriété text-overflow */
    text-overflow: ellipsis;
}

table th {
    font-weight: normal;
    text-align: left;
}

th.recipients, h3.recipients, .definition .recipients {
    color: #6e90a9;
}

th.openingRate, h3.openingRate, .definition .openingRate {
    color: #85caa8;
}

th.openingTime, h3.openingTime, .definition .openingTime {
    color: #9ac870;
}

th.reactivityRate, h3.reactivityRate, .definition .reactivityRate {
    color: #a0a4c3;
}

th.clickRate, h3.clickRate, .definition .clickRate {
    color: #6caad9;
}

th.bouncesRate, h3.bouncesRate, .definition .bouncesRate {
    color: #e98c89;
}

th.complaintRate, h3.complaintRate, .definition .complaintRate {
    color: #f19956;
}

th.unsubscribeRate, h3.unsubscribeRate, .definition .unsubscribeRate {
    color: #fdc65d;
}

th.co2, h3.co2, .definition .co2 {
    color: #13a094;
}

table tr td, table tr th {
    padding: 3px 6px;
}

table.recipients tbody tr:nth-child(odd) {
    background-color: #f3f7f9;
}

table.openingRate tbody tr:nth-child(odd) {
    background-color: #f2f9f5;
}

table.openingTime tbody tr:nth-child(odd) {
    background-color: #f7faf3;
}

table.reactivityRate tbody tr:nth-child(odd) {
    background-color: #f4f4f8;
}

table.clickRate tbody tr:nth-child(odd) {
    background-color: #ebf4fa;
}

table.bouncesRate tbody tr:nth-child(odd) {
    background-color: #fef6f7;
}

table.complaintRate tbody tr:nth-child(odd) {
    background-color: #fcebdd;
}

table.unsubscribeRate tbody tr:nth-child(odd) {
    background-color: #fef2da;
}

table.co2 tbody tr:nth-child(odd) {
    background-color: greenyellow;
}

.details {
    height: 25px;
    color: white;
    padding: 0px 5px;
    margin-top: 15px;
}

.details.recipients {
    background-color: #b6c7d3;
}

.details.openingRate {
    background-color: #c2e2d0;
}

.details.openingTime {
    background-color: #cce3b8;
}

.details.reactivityRate {
    background-color: #cbcddf;
}

.details.clickRate {
    background-color: #b6c7d3;
    margin-top: 30px;
}

.details.bouncesRate {
    background-color: #f4c7c5;
}

.details.complaintRate {
    background-color: #f8cdab;
}

.details.unsubscribeRate {
    background-color: #ffe0ab;
}

.details.co2 {
    background-color: green;
}

.smartphone, .tablet, .desktop {
    margin: 10px 0px;
}

.smartphone {
    background-color: #71becd;
}

.tablet {
    background-color: #6da4aa;
}

.desktop {
    background-color: #98cfb5;
}

.devicesBlocks img {
    margin-left: 30px;
}

.devicesBlocks p {
    height: 36px;
}

.devicesBlocks .blocks h4 {
    font-size: 13px;
    font-weight: normal;
    font-family: Georgia, serif;
    text-align: right;
}

.exponent {
    font-variant-position: super;
    font-size: 22px;
    position: relative;
    bottom: 2px;
}

.center {
    text-align: center;
}

.definition {
    margin-top: 25px;
}

div.bouncesRate.spacing p {
    margin-top: 7px;
}

.btnPdf {
    margin-top: 65px;
    margin-bottom: 90px;
}

.btnPdf a {
    width: 280px;
    padding: 5px 30px;
    border-radius: 50px;
    background-color: #57becb;
    color: white;
    text-align: center;
    text-decoration: none;
}

.btnPdf a:hover {
    font-weight: bold;
    padding: 5px 20px;
}


@media (max-width: 800px) {

    .logo {
        background-image: url("../img/logo_baseline.png");
        width: 230px;
        height: 63px;
    }

    .right {
        width: 100%;
    }

    .right table {
        width: 100%;
    }

    .devicesBlocks {
        flex-wrap: wrap;
    }

    .devicesBlocks .blocks {
        margin: 6px auto;
        width: 100%;
    }

    .blocks.color {
        width: 100%;
        margin: 0px;
    }

}

/*
@media (max-width: 540px) {
    .right table tbody {
        border: solid 3px hotpink;
        max-width: 500px;
    }
}
*/

@media (max-width: 390px) {

    .leftColumnIcons {
        margin-right: 0px;
    }

}